

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: #F7F7F7;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: scroll;

  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;

  img {
    width: 30%;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #F4F9F9;
  }
}

.song-description {
  padding-left: 1rem;

  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
    font-weight: 300;
  }
}

.selected {
  background-color: #C8C6C6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #BBBFCA;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #BBBFCA;
  border-radius: 20rem;
  border: transparent;
}