

.song-container {
  min-height: 60vh;
  //background-color: #CAF0F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 20%;
    border-radius: 50rem;
  }

  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }

  h3 {
    font-size: 1rem;
  }
}