

.song-container {
  min-height: 60vh;
  //background-color: #CAF0F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;

  img {
    width: 20%;
    border-radius: 50rem;
  }

  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 768px) {

  .song-container {

    img {
      width: 60%;
    }
  }

}