@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: #323232;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}

@import './song';
@import './player';
@import './library';
@import './nav';